@model IEnumerable<Workers.Domain.Models.TaskStatus>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAll</h1>

<p>
    <a asp-area="Admin" asp-controller="TaskStatus" asp-action="Create">Create New</a>
</p>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StatusTask)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Task)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEdit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusTask.StatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Task.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEdit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", "TaskStatus", new { id = item.Id, area = "Admin" }) |
                            @Html.ActionLink("Delete", "Delete", "TaskStatus", new { id = item.Id, area = "Admin" }) |
                            @Html.ActionLink("GetDetails", "GetDetails", "TaskStatus", new { id = item.Id })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>No task status!</h2>
}