@model IEnumerable<Workers.Web.Infrastructure.Models.TaskStatus>

@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StatusTask)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Task)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEdit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusTask.StatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Task.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEdit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="GetDetails" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No task status!</p>
}