@model IEnumerable<Workers.Web.Infrastructure.Models.ProjectEmployee>

@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Id.ToString(), "GetDetails", "ProjectEmployee", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink(item.Project.Name, "GetDetails", "Project", new { id = item.ProjectId })
                    </td>
                    <td>
                        @Html.ActionLink($"{item.Employee.FirstName} {item.Employee.LastName}", "GetDetails", "Employee", new { id = item.EmployeeId })
                    </td>
                    <td>
                        @Html.ActionLink(item.Position.Name, "GetDetails", "Position", new { id = item.PositionId })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                        @Html.ActionLink("Details", "GetDetails", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h2>No ProjectEmployee</h2>
}
